10 slides ppt
 knowience part 
sr prospective clients

1,2 slides intro what we do impact and display provisions

3 past impact case studies 

4 tech path how we do it and data path and data flow
how we collect and decipher from prd

5 wht we do which are not there in others 

6 key things diff from other players

7 why we Our Experts
prod specialists , 

8 A few clients of ours

9 org SII - header organisation wide stakeholders insights intelligence
footer-empowering decisions

10 Product offerings:
Market segment and model of licence or SAAs model

PRO tip:
rephrase LIC presetnation

